[submodule "CC/sage"]
	path = CC/sage
	url = https://github.com/Aruuni/sage
	branch = sagereborn
[submodule "CC/astraea-open-source"]
	path = CC/astraea-open-source
	url = https://github.com/Aruuni/astraea-open-source
[submodule "CC/PCC-Kernel"]
	path = CC/PCC-Kernel
	url = https://github.com/PCCproject/PCC-Kernel
	branch = vivace
[submodule "CC/Orca"]
	path = CC/Orca
	url = https://github.com/Aruuni/Orca
[submodule "experiments/LeoEM"]
	path = experiments/LeoEM
	url = https://github.com/Aruuni/LeoEM
[submodule "CC/PCC-Uspace"]
	path = CC/PCC-Uspace
	url = https://github.com/Aruuni/PCC-Uspace
	branch = vivace-mininet
[submodule "CC/tcpdatagen"]
	path = CC/tcpdatagen
	url = https://github.com/Aruuni/tcpdatagen
